<div id="param-venta">  
    <h3>Supuesto de venta</h3>       
    <table class="table table-bordered table-sm table-responsive-sm">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>% Firma</th>
                <th>% Plazo</th>
                <th>Meses maximo plazo</th>
                <th>% Escrituracion</th>
                <th>% Descuento</th>
                <th>% Rendimiento</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let venta of supuestoVenta">
                <td>
                    <input type="text" class="form-control" name="nombre" id="nombre_{{venta.id}}" readonly value="{{venta.nombre}}">
                </td>
                <td>
                    <input type="text" class="form-control" name="porcentaje_firma" id="porcentaje_firma_{{venta.id}}" readonly value="{{venta.porcentaje_firma}}">
                </td>
                <td>
                    <input type="text" class="form-control" name="porcentaje_plazo" id="porcentaje_plazo_{{venta.id}}" readonly value="{{venta.porcentaje_plazo}}">
                </td>
                <td>
                    <input type="text" class="form-control" name="meses_plazo" id="meses_plazo_{{venta.id}}" readonly value="{{venta.meses_plazo}}">
                </td>
                <td>
                    <input type="text" class="form-control" name="porcentaje_escritura" id="porcentaje_escritura_{{venta.id}}" readonly value="{{venta.porcentaje_escritura}}">
                </td>
                <td>
                    <input type="text" class="form-control" name="porcentaje_descuento" id="porcentaje_descuento_{{venta.id}}" readonly value="{{venta.porcentaje_descuento}}">
                </td>
                <td>
                    <input type="text" class="form-control" name="porcentaje_rendimiento" id="porcentaje_rendimiento_{{venta.id}}" readonly value="{{venta.porcentaje_rendimiento}}">
                </td>
                <td>
                    <button (click)="editarSupuestoVenta(venta.id)" type="button" id="btn_editar_supuesto_venta_{{venta.id}}" class="btn btn-outline-warning">Editar</button>
                    <div id="botones_supuesto_venta_{{venta.id}}" style="display: none;">
                        <button (click)="guardarCambios(venta.id)" type="button" id="btn_guardar_supuesto_venta_{{venta.id}}" class="btn btn-outline-success">Guardar</button>
                        <button (click)="cancelarCambios(venta.id)" type="button" id="btn_cancelar_supuesto_venta_{{venta.id}}" class="btn btn-outline-danger">Cancelar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-inline">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="check_supuesto_venta">
            <label class="custom-control-label" for="check_supuesto_venta">Agregar Supuesto de venta.</label>
        </div>&nbsp;&nbsp;
     </div>
    <div class="form-inline" id="div_agregar_supuesto_venta" style="display: none;">
        <input [(ngModel)]="datos.nombre" type="text" class="form-control" id="nombre" placeholder="Tipo">&nbsp;
        <input [(ngModel)]="datos.porcentaje_firma" type="number" class="form-control" id="porcentaje_firma" placeholder="% Firma">&nbsp;
        <input [(ngModel)]="datos.porcentaje_plazo" type="number" class="form-control" id="porcentaje_plazo" placeholder="% Plazo">&nbsp;
        <input [(ngModel)]="datos.meses_plazo" type="number" class="form-control" id="meses_plazo" placeholder="Meses plazo">&nbsp;
        <input [(ngModel)]="datos.porcentaje_escritura" type="number" class="form-control" id="porcentaje_escritura" placeholder="% Escrituracion">&nbsp;
        <input [(ngModel)]="datos.porcentaje_descuento" type="number" class="form-control" id="porcentaje_descuento" placeholder="% Descuento">&nbsp;
        <input [(ngModel)]="datos.porcentaje_rendimiento" type="number" class="form-control" id="porcentaje_rendimiento" placeholder="% Rendimiento">&nbsp;
        <button (click)="crearSupuestoVenta()" type="button" class="btn btn-outline-success" id="btn_agregar_supuesto_venta">Agregar</button>
    </div>
</div>