<div class="container">
    <h2 class="text-center">HISTORIAL DE COMISIONES</h2>

    <input class="form-control mb-4" id="tableSearch" type="text"
    placeholder="Escribe aqui para realizar la busqueda en la tabla">
    <table class="table table-hover">
        <thead>
            <tr class="text-center">
                <th>Negociacion</th>
                <th>Detalles</th>
                <th>Estatus</th>
            </tr>
        </thead>
        <tbody id="myTable">
            <tr>
                <th class="text-center">ANUVA: JUAN MAGALLANES QUIROZ</th>
                <th class="text-center">
                    <a routerLink="#" class="btn-link">Ver corrida</a>
                </th>
                <th class="text-center">PENDIENTE</th>
            </tr>
            <tr>
                <th class="text-center">LIVA: JUAN MAGALLANES QUIROZ</th>
                <th class="text-center">
                    <a routerLink="#" class="btn-link">Ver corrida</a>
                </th>
                <th class="text-center">AUTORIZADO</th>
            </tr>
            <tr>
                <th class="text-center">BRASILIA: NAYELI PEREZ ULLOA</th>
                <th class="text-center">
                    <a routerLink="#" class="btn-link">Ver corrida</a>
                </th>
                <th class="text-center">RECHAZADO</th>
            </tr>
        </tbody>
    </table>
</div>