<div class="container">
    <h4>Selecciona el desarrollo que deseas configurar:</h4>
    <select [(ngModel)]="valorId" class="form-control custom-select form-control-md" id="select_desarrollo">
        <option value="{{ desarrollo.id }}" *ngFor="let desarrollo of desarrollos">{{ desarrollo.nombre }}</option>
    </select>
    <a routerLink="configuracion/{{valorId}}" id="config_desarrollo">Configuracion</a>
    <div class="custom-control custom-checkbox">
        <input [(ngModel)]="checkNuevoDesarrollo" type="checkbox" class="custom-control-input" id="check_desarrollo" name="checkDesarrollo">
        <label class="custom-control-label" for="check_desarrollo">Agregar nuevo desarrollo.</label>
    </div>
    <br>

    <div class="ocultar-elemento" id="agregar_desarrollo">
        <div class="form-inline">
            <input [(ngModel)]="datos.nombre" type="text" class="form-control" id="nombre_desarrollo" placeholder="Nombre del desarrollo">&nbsp;&nbsp;
            <input [(ngModel)]="datos.precio_inicial" type="number" class="form-control" id="costo_mantenimiento" placeholder="Precio inicial">&nbsp;&nbsp;
            <input [(ngModel)]="datos.fecha_inicio_obra" type="date" class="form-control" id="costo_mantenimiento" placeholder="Fecha de inicio obra">&nbsp;&nbsp;
            <select class="custom-select elemento ocultar-elemento" id="replicar_config" name="replicar_config" >
                <option value="0">Selecciona la configuracion</option>
                <option value="{{ desarrollo.id }}" *ngFor="let desarrollo of desarrollos">{{ desarrollo.nombre }}</option>
            </select>&nbsp;&nbsp;
            <button (click)="agregarDesarrollo()" class="btn btn-outline-success">Agregar desarrollo</button>
        </div>
        <div class="custom-control custom-checkbox" style="display: none;">
            <input type="checkbox" class="custom-control-input" id="check_configuracion" name="checkConfiguracion">
            <label class="custom-control-label" for="check_configuracion">Replicar configuracion.</label>
        </div>       
    </div>
</div>
