<!-- TEMPLATE DEL MENU -->
<div class="container-fluid mw-100 h-100 p-2">
    <nav class="navbar navbar-expand-sm bg-danger navbar-dark fixed-top">
    <a class="navbar-brand" routerLink="/{{workPosition}}">
            <img src="assets/images/logo_idex_blanco.png" height="40" class="d-inline-block align-top"
                alt="Es momento de vivir mejor.">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
        aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="nav navbar-nav ml-auto">
                <!-- Dropdown ENCUESTA -->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                        Encuestas
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/home">Crear encuesta</a>
                        <a class="dropdown-item" routerLink="/home">Editar encuesta</a>
                        <a class="dropdown-item" routerLink="/home">Eliminar encuesta</a>
                        <a class="dropdown-item" routerLink="/home">Ver resultados</a>
                    </div>
                </li> -->

                <!-- Dropdown CALCULADORA -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                    Calculadora
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/{{workPosition}}/corrida-financiera">Corrida Financiera</a>
                        <a class="dropdown-item" routerLink="/{{workPosition}}/calculadora">Tabla de amortización</a>
                        <div *ngIf="workPosition == '117' || workPosition == '3' || workPosition == '4'
                        || workPosition == '19' || workPosition == '24' || workPosition == '21'
                        || workPosition == '22' || workPosition == '12'">
                            <a class="dropdown-item" routerLink="/{{workPosition}}/configuracion-calculadora">Configurar parametros</a>
                        </div>
                    </div>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> Perfil
                    </a>
                    <!-- <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                        <a class="dropdown-item" routerLink="/home">Mi Perfil</a>
                        <a class="dropdown-item" routerLink="crear-usuario">Crear usuario</a>
                        <a class="dropdown-item" (click)="logout($event)" href="#">Cerrar sesion</a>
                    </div> -->
                </li>
            </ul>
        </div>
    </nav>    		
</div>
<br>
<br>
<br>
<div class="container">
    <div class="form-inline" id="opciones_configuracion">

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="check_menu_prototipo" checked>
            <label class="custom-control-label" for="check_menu_prototipo">Prototipos</label>
        </div>&nbsp;&nbsp;

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="check_menu_piso" checked>
            <label class="custom-control-label" for="check_menu_piso">Pisos.</label>
        </div>&nbsp;&nbsp;

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="check_menu_supuesto_venta" checked>
            <label class="custom-control-label" for="check_menu_supuesto_venta">Supuesto de venta.</label>
        </div>&nbsp;&nbsp;

        <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check_menu_supuesto_mercado" checked>
                <label class="custom-control-label" for="check_menu_supuesto_mercado">Supuesto de mercado</label>
        </div>&nbsp;&nbsp;

        <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check_menu_supuesto_hipotecario" checked>
                <label class="custom-control-label" for="check_menu_supuesto_hipotecario">Supuesto Hipotecario</label>
        </div>&nbsp;&nbsp;

        <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check_menu_supuesto_obra" checked>
                <label class="custom-control-label" for="check_menu_supuesto_obra">Supuesto de obra</label>
        </div>&nbsp;&nbsp;

        <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check_menu_supuesto_compra" checked>
                <label class="custom-control-label" for="check_menu_supuesto_compra">Supuesto de compra</label>
        </div>&nbsp;&nbsp;

        <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check_menu_plusvalia" checked>
                <label class="custom-control-label" for="check_menu_plusvalia">Plusvalias</label>
        </div>&nbsp;&nbsp;

    </div>

    <!-- COMPONENTES DEL MODULO PARAMETROS-CALCULADORA -->
    <app-param-precio id="param_precio"></app-param-precio>
    <app-param-piso id="param_piso"></app-param-piso>
    <app-param-venta id="param_venta"></app-param-venta>
    <app-param-mercado id="param_mercado"></app-param-mercado>
    <app-param-hipotecario id="param_hipotecario"></app-param-hipotecario>
    <app-param-obra id="param_obra"></app-param-obra>
    <app-param-compra id="param_compra"></app-param-compra>
    <app-param-plusvalia id="param_plusvalia"></app-param-plusvalia>
</div>