<div class="container">
    <div class="form-inline" id="opciones_configuracion">

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="check_menu_prototipo" checked>
            <label class="custom-control-label" for="check_menu_prototipo">Prototipos</label>
        </div>&nbsp;&nbsp;

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="check_menu_piso" checked>
            <label class="custom-control-label" for="check_menu_piso">Pisos.</label>
        </div>&nbsp;&nbsp;

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="check_menu_supuesto_venta" checked>
            <label class="custom-control-label" for="check_menu_supuesto_venta">Supuesto de venta.</label>
        </div>&nbsp;&nbsp;

        <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check_menu_supuesto_mercado" checked>
                <label class="custom-control-label" for="check_menu_supuesto_mercado">Supuesto de mercado</label>
        </div>&nbsp;&nbsp;

        <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check_menu_supuesto_hipotecario" checked>
                <label class="custom-control-label" for="check_menu_supuesto_hipotecario">Supuesto Hipotecario</label>
        </div>&nbsp;&nbsp;

        <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check_menu_supuesto_obra" checked>
                <label class="custom-control-label" for="check_menu_supuesto_obra">Supuesto de obra</label>
        </div>&nbsp;&nbsp;

        <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check_menu_supuesto_compra" checked>
                <label class="custom-control-label" for="check_menu_supuesto_compra">Supuesto de compra</label>
        </div>&nbsp;&nbsp;

        <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check_menu_plusvalia" checked>
                <label class="custom-control-label" for="check_menu_plusvalia">Plusvalias</label>
        </div>&nbsp;&nbsp;

    </div>

    <!-- COMPONENTES DEL MODULO PARAMETROS-CALCULADORA -->
    <app-param-precio id="param_precio"></app-param-precio>
    <app-param-piso id="param_piso"></app-param-piso>
    <app-param-venta id="param_venta"></app-param-venta>
    <app-param-mercado id="param_mercado"></app-param-mercado>
    <app-param-hipotecario id="param_hipotecario"></app-param-hipotecario>
    <app-param-obra id="param_obra"></app-param-obra>
    <app-param-compra id="param_compra"></app-param-compra>
    <app-param-plusvalia id="param_plusvalia"></app-param-plusvalia>
</div>